<div class="grid">

  <div class="col-12">
    <h1>Launches</h1>
  </div>

  <div class="col-12 p-fluid">
    <label>Description</label>
    <input type="text" pInputText />
  </div>

  <div class="col-12">
    <label style="display: block">Due Date</label>
    <input pInputText type="text" style="width: 95px">

    <label>until</label>
    <input pInputText type="text" style="width: 95px">

  </div>

  <div class="col-12">
    <button pButton type="submit" label="Search"></button>
  </div>

</div>
